include *.txt
include *.md
include *.pkl
recursive-include ./catvsdog_model *

recursive-include catvsdog_model/datasets *
recursive-include catvsdog_model/trained_models *
include catvsdog_model/VERSION
include catvsdog_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]